.frete {
    background-color: #A9A9A9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    padding: 10px;
}

#img-truck {
    padding-right: 20px;
}

#text-frete {
    padding-right: 20px;
    font-weight: bold;
}

#descricao-prazo {
    padding-left: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#descricao-frete {
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-principal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "container-img  container-cores"
                         "container-img   container-cores";
}

#title-compras {
    margin-top: 15px;
    padding-left: 100px;
    color: #808080;
}

#produto-img {
    padding-left: 100px;
    padding-top: 15px;
    width: 400px;
}

/*ZOOM */
.container-img {
    overflow: hidden;
}

.container-img img {
    max-width: 100%;
    background-size: 100% auto;
}

.container-img:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    cursor: zoom-in;
    transition: 0.2s;
}
/*FIM-ZOOM */
#price-item {
    font-size: 20px;
    color: white;
    text-transform: capitalize;
}

.cores {
    padding-top: 20px;
}

.cores label::after	{
    content: '';		
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.cores input {
    margin-left: 10px;
    margin-bottom: 20px;
}

#title-color {
    color: #808080;
}

#branco {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: white;
    color: white;
    width: 40px;
}

#vermelho {
    margin-right: 5px;
    margin-left: 3px;
    background-color: red;
    color: red;
    width: 45px;
}

#preto {
    margin-right: 5px;
    background-color: black;
    width: 45px;
}

.tamanhos {
    padding-top: 15px;
}

.tamanhos h3 {
    color: #808080;
}

#button-select {
    margin-top: 5px;
    margin-bottom: 5px;
}

.comprar {
    margin-top: 30px;
    margin-bottom: 10px;
}

.container-principal {
    margin-right: 200px;
}

#button-compra {
    width: 600px;
    text-transform: uppercase;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
}

#button-compra:hover {
    background:#800000;
    transition: 0.6s;
}

#button-voltar {
    width: 600px;
    text-transform: uppercase;
    background-color: #FF0000;
    color: white;
    font-weight: bold;
    margin-top: 5px;
}

#button-voltar:hover {
    background:#800000;
    transition: 0.6s;
}

.informacoes {
    display: flex;
    padding-left: 100px;
    padding-right: 50px;
    /*background-color: #DCDCDC; */
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
}

#link-caracteristicas {
    padding-right: 50px;
    text-decoration: none;
    color:#696969;
}

#link-informacoes-produto {
    text-decoration: none;
    color: #696969;
}

#link-carrinho {
    text-decoration: none;
    color: white;
    padding-left: 250px;
    background-color: #1C1C1C;
}

#link-carrinho:hover {
    color: #D3D3D3;
}

#link-informacoes-produto:active:hover {
    background: padding-box;
    color: #800000;
}

#link-caracteristicas:active:hover {
    background: padding-box;
    color: #800000;
}










