.container-cadastro {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-width: 0.3px;
    padding: 150px;
    width: 100%;
    max-width: 500px;
    margin-top: 10px;
}

#title {
    font-size: 24px;
    font-style: italic;
    width: 71px;
    height: 36px;
    color: white;
    margin-bottom: 40px;
}

#button-select {
    padding: 10px;
    width: 390px;
    outline: 0;
}














