.container-senha {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-width: 0.3px;
    padding: 50px;
    width: 100%;
    max-width: 500px;
    margin-top: 100px;
}

#title-senha {
    color: white;
    margin-right: 20px;
    margin-bottom: 10px;
    font-style: italic;
}