body {
    /*background-color: #FDC6E1; */
}

#page-landing {
    width: 100vh;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "logo sapato"
                         "botao sapato";
}

.logo-container {
    grid-area: logo;
    align-items: center;
    margin-bottom: 10px;
}

.button-container {
    grid-area: botao;
}

.logo-img {
    grid-area: sapato;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 20px;
}

.logo-container img {
    width: 420px;
    height: 178px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}

.button-container a {
    width: 20rem;
    height: 2.4rem;
    padding: 25px;
    border-radius: 0.8rem;

    font: 700 2.0rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: #FFFFFF;

    transition: background-color 0.2s;
}

.register-icon {
    margin-right: 1px;
}

.button-container a:first-child {
    margin-right: 3.6rem;
}

.button-container a img {
    width: 5rem;
}

.button-container a.login {
    background-color: #FF0000;
}

.button-container a.cadastro {
    background: #FF0000;
}

.button-container a.login:hover {
    background:#800000;
    transition: 0.6s;
}

.button-container a.cadastro:hover {
    background: #800000;
    transition: 0.6s;
}

.button-container a img {
    margin-right: 0.1rem;
}














