:root {
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    font-family: 'Poppins';
}

input,
button,
textarea {
    font : 500 1.6rem Nunito, sans-serif;
}

.container {
    width: 100vw;
    max-width: 700px;
}