body, html {
    scroll-behavior: smooth; 
}

.novidades-home {
   margin-right: 200px;
   margin-top: 50px;
}

#navegacao {
    margin-right: 40px;
}

.painel {
    margin-top: 50px;
}

body {
    background-color:#1C1C1C;
}

